h2 {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 10px;
}

.container-produtos-doughnut {
    width: 30%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
}

.container-todos-produtos {
    width: 100%;
    height: auto;
    display: flex;
}

.container-pie-transferencia-internacional {
    width: 15%;
    height: auto;
    margin: auto;
}