<div class="container-dashboar">
    <div class="container-produtos-doughnut">
        <h2>Valores por Tipo de Produto</h2>
        <c-chart 
            [data]="dataProdutos" 
            [options]="options"
            type="doughnut" 
        />
    </div>
    <div class="container-todos-produtos">
        <div class="container-title-pie-produto">
            <h2 class="title-bottom">Valores de Compra/Venda por Tipo de Produto</h2>
        </div>

        <div class="container-pie">
            <div class="container-pie-produto">
                <h2>Transfêrencia Internacional</h2>
                <c-chart 
                    [data]="dataTransferenciaInternacional" 
                    [options]="options"
                    type="pie" 
                />
            </div>
            <div class="container-pie-produto">
                <h2>Importação</h2>
                <c-chart 
                    [data]="dataImportacao" 
                    [options]="options"
                    type="pie" 
                />
            </div>
            <div class="container-pie-produto">
                <h2>Exportação</h2>
                <c-chart 
                    [data]="dataExportacao" 
                    [options]="options"
                    type="pie" 
                />
            </div>
            <div class="container-pie-produto">
                <h2>Moeda em Espécie</h2>
                <c-chart 
                    [data]="dataMoedaEmEspecie" 
                    [options]="options"
                    type="pie" 
                />
            </div>
        </div>
    </div>
</div>
<div class="container-line-chart">
    <div>
        <h2 class="tamanho-h2">Total de operações realizadas por Tipo de Produto</h2>
    </div>
    <c-chart [data]="dataLineChart" type="line" [options]="chartOptions"></c-chart>
</div>